*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    width: 100%;
    height: 700px;
}
#Bodyleft{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    background-color: rgb(255, 145, 0);
}
header { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    background-color: rgb(255, 0, 0);
}

nav { 
    display: flex;
    align-items: center;
    flex-direction:column;
    width: 20%;
    height: auto;
    background-color: blue;
}

#Etudiant{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction:column;
}

h3{
    margin: 20px auto;
}

li { 
    list-style: none;
    margin: 10px 0;
}

.ligne{ 
    width: 80%;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(0, 204, 255);
}

.contain{
    margin: 20px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Recherche{
    display: grid;
    width: 60%;
    grid-template-rows: repeat(2,50%);
    grid-template-columns: repeat(2,50%);
}