        /*   general   */
*{
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

        /* scroll bar */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #adddff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }





        /*    the body    */
body{ 
    width: 100%;

    display: flex;

    background-color:  #adddff;
}


.ligne{ 
    width: 80%;
    height: 4px;

    border-radius: 5px;

    text-align: center;
    
    background-color: #adddff;
}






        /*    nav bar     */


nav{
    margin: 15px; 
    margin-top: 3.5%;
    padding: 17px;

    height: fit-content;
    width: fit-content;

    background-color: aliceblue;

  /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.544);
    border-radius: 100px;
}


nav:hover{
    border-radius: 10px;
}

nav div>.ligne{ 
    width: 100%;
    height: 4px;

    border-radius: 5px;

    background-color: #adddff;
}

.email , #AjouterVille{
    text-align: center;
}







        /*    the left side   */

#Bodyleft{
    padding: 0;

    margin-top: 2.5%;
    margin-right: 4%;
    margin-left: 1%;
    margin-bottom: 2.5%;
    
    width: 100%;
    border-radius: 100px;
    
    background-color: rgb(255, 240, 240);

  /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.544);
    transition: .5s; 
}


#Bodyleft:hover {
    /* On mouse-over, add a deeper shadow */
    box-shadow: 0 18px 66px 0 rgba(0,0,0,0.2);
  }


  header>img{
    border-radius: 100px 100px 0px 0px;
  }

header { 
    padding: 0;
    margin: 0;

    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;

    color: #ffffff;
}


H1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


h3{
    margin: 20px auto;

    text-align: center;
}

li { 
    margin: 10px 0;

    list-style: none;
}


.Recherche{
    margin: 20px;
}


.contain{
    margin: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


.contain input {
    margin: 12px;
    padding: 7px 13px;
    padding-left: 13px;
    width: 40%;

    transition: 0.3s;

    outline: none;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid #adddff;

}

.contain input:hover{
    padding: 8px 13px;
    width: 50%;

    border-radius: 4px;
}

.contain input:focus{
    padding: 8px 13px;
    width: 50%;

    border-radius: 4px;
}

#Descriptif{
    margin: 12px;
    padding: 7px 13px;
    width: 80%;
}


button{
    padding: 7px 4.6%;

    border-color: #adddff ;
    border-radius: 5px;
    background-color: #e8f8ff;
}


section{
    margin-bottom: 1%;

    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#Recherche-info{
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#Recherche , #main-info {
    display: grid;
    width: 60%;
    grid-template-rows: repeat(2,50%);
    grid-template-columns: repeat(2,50%);
}

#tourist-areas{
    display: grid;
    width: 100%;
    grid-template-rows: repeat(2,50%);
    grid-template-columns: repeat(2,50%);
}



textarea{
    margin: 12px;
    padding: 7px 13%;
    padding-left: 13px;
    width: 40%;
    height: fit-content;

    transition: 0.3s;

    outline: none;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid #adddff;

}


#ville-info{
    margin: 20px;

    width: 95%;
    
    align-items:start;
}

#vill-tourist-areas{
    padding: 10px;

    width: 100%;

    align-items:start;
}

#vill-photos{
    margin: 12px;

    text-align: center;
}



.button-group{
    margin: 10px;

    display: inline;
    width: 35%;
}

.button-group > * {
    padding: 2px;
    width: 20%;
}

select{
    padding: 10px;
    margin: 10px;
    width: 40%;

    text-align: center;
    overflow: hidden;

    
    border-color: #393d40 ;
    border-radius: 5px;
    background-color: #e8f8ff;
}

#details{
    width: 60%;
    margin: 12px;

    text-align: center;
}

.goTop{
    text-align: center;
}

#goTop-button{
    width: fit-content;
    height: fit-content;

    border: none;
    background: none;
}

#goTop-button>img{
    width: 40px;
    height: 40px;

    border: none;
    background: none;
}

@media screen and (max-width: 480px) {
    
}

#search-Result-Section>span{
  text-align: center;
}

#rech{ 
    margin: 10px;
    width: 98%;
}


#search-result>li{
    margin: 10px;
    display:flex;

    justify-content: space-between;
    border: solid;
    border-radius: 30px;
    border-color: rgb(137, 218, 255);

    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .3s; 
   
}






#search-result a {
    height: 40px;
    margin-right: 10px;
    margin-top: 30px;
    font-style: black;
    padding: 14px 16px;
    font-size: 30px;
  }
  

  #search-result img {
    margin: 6%;
    width: 40px;
    height: 40px;
    
    float: right;
  }


  #search-result .icons{
    width: 20%;
    margin: 3px;
    margin: 10px;
    float: right;
    display: flex;
    justify-content: center;
  }

  #search-result button{
    border: none;
    background: none;
  }

  /* Change the color of links on hover */
  #search-result li:hover {
    border-radius: 15px;
    background-color: #d4edffc0;
    font-style: black;
  }


#search-result .ref{
    width: 70%;
    padding-left: 10px;
    margin-top: 15px;
}





/* Slideshow container */


.slideshow img {
    border-radius: 100px 100px 0px 0px;
    vertical-align: middle;
    height: 300px;
}
.slideshow-container {
    max-width: 1000px;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;

    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  

  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  #info{
    margin: 10px;
    padding: 10px;
    width: 95%;

    display: block;

    text-align: left;
  }


  


.contain-affiche-ville {
    margin: 10px;
    position: relative;
    width: 25%;

        /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .3s; 
  }
  
  .contain-affiche-ville img {
    display: block;
    width: 100%;
    height: 150px;
  }
  
  .contain-affiche-ville .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .contain-affiche-ville:hover .overlay {
    opacity: 1;
  }
  
  .contain-affiche-ville .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }