/* ajoute ville file : */

/*    the left side   */
#Bodyleft {
    border-radius: 30px 30px 0px 0px;
  }


  #show {
    border-radius: 30px;
  }

  #show > div {
    /* pour chaque img */
    left: 0;
  }

#Descriptif {
  margin: 12px;
  padding: 7px 13px;
  width: 80%;
}

#tourist-areas {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: repeat(2, 50%);
}

#details{
    width: 70%;
    justify-content: center;
    align-items: center;
}

textarea {
  margin: 12px;
  padding: 7px 13%;
  padding-left: 13px;
  width: 100%;
  height: fit-content;

  transition: 0.3s;

  outline: none;
  border: none;
  border-radius: 10px;
  border-bottom: 2px solid #adddff;
}




select{
    padding: 10px;
    margin: 10px;
    width: 40%;

    text-align: center;
    overflow: hidden;

    
    border-color: #393d40 ;
    border-radius: 5px;
    background-color: #e8f8ff;
}

/* The Modal (background) */
#DialogAddPays {
  height: 50%;
  width: 50%;
  left: 70%;
  top: 60%;

  border-radius: 100px;
  border: none;
  text-align: center;
}

#DialogAddPays form {
  margin: 3%;
  width: 60%;
  height: 40%;

  align-items: center;
  justify-content: center;
}
