*{
    padding: 0;
    margin: 0;
   
    font-family: Arial, Helvetica, sans-serif;
}
body{
    
    display: flex;
    width: 100%;
    background-color:  #adddff;
}



#Bodyleft{
    padding: 0;
    width: 79%;
    
    background-color: aliceblue;
  /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .5s; 
    border-radius: 5px;
    margin: auto;
    margin-bottom: 3%;
    overflow: hidden;
    margin-top: 1%;
}

/* On mouse-over, add a deeper shadow */
#Bodyleft:hover {
    box-shadow: 0 18px 66px 0 rgba(0,0,0,0.2);
  }

header { 
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: #ffffff;
}
H1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

nav { 
    padding-top: 0;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    margin-top: 1%;
    padding-left: 1%;
    width: 14%;
    background-color: aliceblue;
  /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-bottom: 160px;
    overflow: hidden;
}

#AjouterVille{
    text-align: center;
}



#Etudiant{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction:column;
}

h3{
    margin: 20px auto;
    text-align: center;
}

li { 
    list-style: none;
    margin: 5px 0;
}

.ligne{ 
    width: 80%;
    height: 4px;
    border-radius: 5px;
    background-color: #adddff;
    text-align: center;
}

.contain{
    margin: 20px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Recherche{
    display: grid;
    width: 60%;
    grid-template-rows: repeat(2,50%);
    grid-template-columns: repeat(2,50%);
}