*{
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    width: 100%;
    background-color:  #adddff;
}

#Bodyleft{
    padding-top: 0;
    width: 79%;
    background-color: aliceblue;
  /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .5s; 
    border-radius: 5px;
    margin: auto;
    margin-bottom: 3%;
    overflow: hidden;
}

/* On mouse-over, add a deeper shadow */
#Bodyleft:hover {
    box-shadow: 0 18px 66px 0 rgba(0,0,0,0.2);
  }

header { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    background-color: rgb(255, 0, 0);
}

nav { 
    padding-top: 0;
    margin: 10px;
    padding: 10px;
    margin-top: 0;
    padding-left: 45px;
    width: 14%;
    background-color: aliceblue;
  /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-bottom: 160px;
    overflow: hidden;
}

#AjouterVille{
    text-align: center;
}



#Etudiant{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction:column;
}

h3{
    margin: 20px auto;
    text-align: center;
}

li { 
    list-style: none;
    margin: 10px 0;
}

.ligne{ 
    width: 80%;
    text-align: center;
    border-radius: 5px;
    background-color: #adddff;
}

.contain{
    margin: 20px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Recherche{
    display: grid;
    width: 60%;
    grid-template-rows: repeat(2,50%);
    grid-template-columns: repeat(2,50%);
}