        /*   general   */
*{
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}






        /*    the body    */
body{ 
    width: 100%;

    display: flex;

    background-color:  #adddff;
}


.ligne{ 
    width: 80%;
    height: 4px;

    border-radius: 5px;

    text-align: center;
    
    background-color: #adddff;
}






        /*    nav bar     */

nav {
    margin: 15px; 
    padding: 17px;

    height: fit-content;
    width: 14%;

    background-color: aliceblue;

  /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}


nav>.ligne{ 
    width: 100%;
    height: 4px;

    border-radius: 5px;

    background-color: #adddff;
}

.email , #AjouterVille{
    text-align: center;
}







        /*    the left side   */

#Bodyleft{
    padding: 0;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 3%;
    
    width: 79%;
    border-radius: 5px;
    
    background-color: aliceblue;

  /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .5s; 
}


#Bodyleft:hover {
    /* On mouse-over, add a deeper shadow */
    box-shadow: 0 18px 66px 0 rgba(0,0,0,0.2);
  }


  img{
    border-radius: 5px;
  }


header { 
    padding: 0;
    margin: 0;

    display: flex;

    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;

    color: #ffffff;
}


H1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


h3{
    margin: 20px auto;
    
    text-align: center;
}

li { 
    margin: 10px 0;

    list-style: none;
}


.contain{
    margin: 20px 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


section{
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}


#Recherche{
    display: grid;
    width: 60%;
    grid-template-rows: repeat(2,50%);
    grid-template-columns: repeat(2,50%);
}