/*   general   */
* {
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, Serif;
}


/* scroll bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* theme vars */
:root{
  --Background: #adddff;
  --front : #f0f8ff;
  --borders : #89daff;
  --ButtonsBackgound: #e300ff;
  --listItemsOnHover : #f0f8fd;
}


/*    titles      */
H1 {
  /* nom de notre guide de voyage */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 80%;
  left: 50%;

  border: #393d40;
  color: #ffffff;

  font-family: Serif;
  font-size: 40px;
  opacity: 10;

  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  user-select: none;
}

h3 {
  /* les titres des sections */
  margin: 20px auto;

  text-align: center;

  font-family: Serif;
  font-size: x-large;
}

h4 {
  /* les resultats de recherche */
  margin: 20px;
  margin-left: 10px;
  margin-right: 10px;


  height: 40px;

  font-family: Serif;
  text-align: center;

  font-style: black;
  font-size: 20px;
}

/* labels */
label{
  margin: 8px;

  border: #393d40;
}

/* liste */
li {
  margin: 10px 0;

  list-style: none;
}

/* button */
button {
  padding: 7px 4.6%;
  padding-bottom: 0px;
  border-color: var(--Background);
  border-radius: 10px;
  background-color: var(--ButtonsBackgound);
  cursor: pointer; /* pour dit que il est cliquable */
}

/*    the body    */
body {
  width: 100%;

  display: flex;

  background-color: var(--Background);
}

.ligne {
  width: 80%;
  height: 4px;

  border-radius: 5px;

  text-align: center;

  background-color: var(--Background);
}

#ligne {
  /* la position de ligne qui va etre cree par PHP */
  transform: translateX(15%);
}

/*    nav bar     */
nav {
  margin: 15px;
  margin-top: 3.5%;
  padding: 17px;

  height: fit-content;
  width: fit-content;

  border-radius: 100px;

  background-color: var(--front);

  /* Add shadows */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.544);
}

nav:hover {
  border-radius: 10px;
}

nav div > .ligne {
  width: 100%;
  height: 4px;

  border-radius: 5px;

  background-color: var(--Background);
}

#nav{
  display: none;
}

.email,
#AjouterVille {
  text-align: center;
}

/*    the left side   */
#Bodyleft {
  margin-top: 2.5%;
  margin-right: 7%;
  margin-left: 2%;
  margin-bottom: 2.5%;
  
  padding: 0;
  
  width: 100%;
  border-radius: 100px;

  background-color: var(--front);

  /* Add shadows */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.544);
  transition: 1s;
}

#Bodyleft:hover {
  box-shadow: 0 18px 66px 0 rgba(0, 0, 0, 0.2);
}

header {
  align-items: center;
  position: relative;

  text-align: center;
  overflow: hidden;
}

#show > div {
  /* pour chaque img */
  margin: 5px;
  margin-top: 0;

  width: 20%;

  position: relative;
  left: -1%;

  transform: skew(15deg); /*pour avoir trapeze */
  transition: 1s;
}

#show > div:hover {
  width: 100%;
  transform: skew(0);
}

#show {
  width: 100%;
  height: 260px;

  display: flex;
  justify-content: space-around;

  overflow: hidden;

  border-radius: 100px 100px 0px 0px;
}

.contain {
  /* pour les 4 entre */
  margin: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contain input {
  margin: 12px;
  padding: 7px 13px;

  width: 40%;

  transition: 0.7s;

  outline: none;
  border: none;
  border-radius: 10px;
  border-bottom: 2px solid var(--Background);
}

.contain input:hover {
  padding: 9px 13px;
  width: 50%;

  border-radius: 4px;
}

.contain input:focus {
  padding: 8px 13px;
  width: 50%;

  border-radius: 4px;
}

section {
  margin-bottom: 1%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

/* form */
#Recherche-info {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

#main-info{
  display: grid;
  width: 75%;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: repeat(2, 50%);
}

#goTop {
  text-align: center;
}

#goTop-button {
  width: fit-content;
  height: fit-content;

  border: none;
  background: none;

  cursor: pointer; /* pour dit que il est cliquable */
}

#goTop-button > img {
  width: 40px;
  height: 40px;
}

/* la liste des resulta */
.search-result > li {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border: solid;
  border-radius: 30px;
  /* border-color: #7decac; */

  /* Add shadow */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer; /* pour dit que il est cliquable */
}

.search-result li:hover {
  border-radius: 15px;
  background-color: var(--listItemsOnHover);
}

.search-result a {
  margin-right: 10px;
  margin-top: 30px;
  padding: 14px 16px;

  height: 40px;

  font-style: black;
  font-size: 30px;

  cursor: pointer; /* pour dit que il est cliquable */
}

.search-result img {
  margin: 6%;

  width: 40px;
  height: 40px;

  float: right;
}

.search-result .icons {
  margin: 3px;
  margin: 10px;
  float: right;

  width: 20%;

  display: flex;
  justify-content: center;
}

.search-result button {
  border: none;
  background: none;
}

.search-result .ref {
  margin-top: 15px;
  padding-left: 10px;
  width: 70%;
}

#rech{
  margin-bottom: 10px;
  
  width: 100%;
  height: fit-content;
  
  transition: 2s;
}

li>.search-result{
  display: none;
}

.search-error{
  margin: 10px;

  display: none;

  border: solid;
  border-radius: 30px;

  /* Add shadow */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#goTop-button{
  margin-top: 20px;

  display: none;
}