#Bodyleft {
    border-radius: 30px;
  }

/* Slideshow container */
.slideshow{
    border-radius: 15px;
}

.slideshow img {
  border-radius: 15px;
  height: 260px;

  cursor: pointer; /* pour dit que il est cliquable */
}
.slideshow-container {
  border-radius: 30px 30px 0px 0px;
  margin: auto;
  cursor: pointer; /* pour dit que il est cliquable */
}

/* Next & previous buttons */
.prev,
.next {
  margin-top: -22px;
  padding: 16px;

  position: absolute;
  top: 50%;

  color: white;
  font-weight: bold;
  font-size: 18px;

  transition: 2s ease;

  cursor: pointer;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  margin: 0 2px;

  height: 15px;
  width: 15px;

  display: inline-block;
  border-radius: 50%;

  background-color: #bbb;

  transition: background-color 0.6s ease;

  cursor: pointer;
  user-select: none;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
/*//*/
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*//*/

#info {
  /* nome ville  pay , idVille*/
  margin: 10px;
  padding: 10px;

  width: 95%;

  display: block;

  text-align: left;
}

.contain-affiche-ville {
  margin: 10px;
  position: relative;
  width: 25%;

  /* Add shadow */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contain-affiche-ville img {
  width: 100%;
  height: 150px;

  display: block;
}

.contain-affiche-ville .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  height: 100%;
  width: 100%;

  opacity: 0;

  transition: 1s ease;
  background-color: #008cba;
}

.contain-affiche-ville:hover .overlay {
  opacity: 1;
}

.contain-affiche-ville .text {
  position: absolute;
  top: 50%;
  left: 50%;

  color: white;

  font-size: 20px;
  transform: translate(-50%, -50%);
}
